<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<a> 커피 </a>
<p> 주스 </p>
<p> 티 </p>
<p> 스무디/프라푸치노 </p>
<p> 논커피 </p>
<p> 디저트 </p>
<a href="{% url 'order' %}">사장님 주문확인</a>

{% for menus in menus.all %}
{% if menus.user_id == user %} <!-- 현재 로그인한 유저의 메뉴만 뜨도록 if문 추가 -->
<div class="card">
  {% if menus.m_img %}
  <img class="card-img-top" src="{{ menus.m_img.url }}" alt="">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ menus.m_name }}</h5>
    <p class="card-text">{{ menus.m_info }}</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      {{ menus.m_price }}
      <a href="#" class="btn btn-primary" onclick="location.href ='{% url 'optionmenu' pk=menus.pk %}'">주문</a>
    </small>
  </div>
</div>
{% endif %}
{% endfor %}
<button type="button" class="btn btn-primary btn-lg" onclick="location.href ='{% url 'checkmenu' %}'">주문 확인</button>