<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



<div class="card">
  {% if menu.m_img %}
  <img class="card-img-top" src="{{ menu.m_img.url }}" alt="">
  {% endif %}

  <div class="card-body">
    <h5 class="card-title">{{ menu.m_name }}</h5>
    <p class="card-text">{{ menu.m_info }}</p>
    <p class="card-text">{{ menu.m_price }}</p>
  </div>
</div>

<form method="POST" action="{% url 'optionmenu' pk=menu.pk %}">
  {% csrf_token %}

{% if menu.m_takeout %}
<label>
  Takeout: <input name='takeout' type="checkbox" value="True">
</label>
{% else %}
  <p>포장이 불가능한 메뉴입니다.</p>
{% endif %}

<label>
  수량: <input name='count' type="number" value="1">
</label>

{% for m in menu.options.all %}
<label>
<input type="checkbox" name="option[]" value="{{m}}" class="chk">{{ m.option_name }}({{m.option_price}}원)
</label>
{% endfor %}


<input type="submit" value="추가" onclick="javascript:btn()">
</form>
<script> function btn(){ alert('바구니에 추가되었습니다.'); } </script>
<!-- 
<script>
  $(document).ready(function () {
      $(".chk").click(function () {
        var price = {{ menu.m_price }};
          $(".chk:checked").each(function () {
            if 
            price += $(this).val();
          });
          $("#total").val(price);
      });
  });
</script> -->

<!-- <p id = 'total'>총 금액: {{ basket.ototal_price }}</p> -->
<!-- 총 금액:
<input id = 'total' value="{{ menu.m_price }}"> </input> -->
<a href="#" class="btn btn-primary" onclick="location.href ='{% url 'checkmenu' %}'">주문확인</a>
<a href="#" class="btn btn-primary" onclick="location.href ='{% url 'menu' %}'">취소</a>